# For all hosts.
ServerAliveInterval 30
ServerAliveCountMax 120


# Personal servers
Host alpha
  HostName alpha.example.com
  User root

Host beta
  HostName beta.example.com

Host alpha beta
  IdentityFile /path/to/private_key
