ROOT=$HOME/Documents/cli-utils
source $ROOT/bash/general.bash
source $ROOT/bash/osx.bash

# Needed for the bundled tools.
export TOOLS_ROOT=$ROOT/tools

# Add a folder in $HOME for commands.
PATH=$HOME/bin:$PATH
