Host chi

HostName chi.lum.li
User root
ServerAliveInterval 30
ServerAliveCountMax 120

Host coroa

HostName coroa.asmallorange.com
User biocycle
ServerAliveInterval 30
ServerAliveCountMax 120

Host ku

HostName ku.lum.li
User root
ServerAliveInterval 30
ServerAliveCountMax 120
